.product{
  margin-top: 20px;
}
.book-align{
    width: 50vh;
    margin-top: 50px;
    margin-left: 30px;
  }
  .heading{
    font-family: 'Damion', cursive;
    /* margin-top: 20px; */
    margin-left: 530px;
    /* width: 550px; */
    line-height: 1.5;
    font-weight: bold;
    font-size: large;
    /* text-align: center; */
}

.border{
    width: 338px;
    margin-top: 199px;
    margin-left: 559px;
    border-color: yellow;
}
.card{
    display: flex;
    flex-direction: column;
}
.home{
    display: flex;
    height: auto;
    flex-direction: column;
    width: auto;
    overflow: hidden;
  }
  .App-Home {
      width: 80%;
      margin: 0 auto;
    }
  bookpage{
    margin-top: 100px;
  }
  .book-align{
    width: 50vh;
  border-radius: 2vh;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  
  .book-align:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
 
  
  

  .card{
    margin-left: 20px;
  }
  .row {
    margin: 0px !important;
  }
  .row {
    margin: 0px !important;
    margin: 0;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif !important;
  }
  .flex-container {
    display: flex !important;
  }
  
  
  
  
   