@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,800;0,900;1,600&display=swap');

.navbar-brand{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold !important;
    font-size: 1.7rem !important;
    letter-spacing: 1px;
}

.nav-link{
    color: gray !important;
    text-decoration: none !important;
    font-size: 1.1rem !important;
    font-weight: 600 !important;
}

Button{
    color: white !important;
    border: none !important;
    font-weight: 600 !important;
    float: right !important;
    background-color: #ffa496 !important;
}